{% load static compress %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>ИНК: Сервер математических моделей {% block 'title' %}{% endblock %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    {% endcompress %}

    {% block 'css' %}
    {% endblock %}

</head>
<body ng-app="mathServer">
    {% block 'content' %}
    {% endblock %}
</body>
</html>